# VS Code metadata
.vscode/

# Python cache files
__pycache__/
app/__pycache__/

# Virtual environment
venv/

# Ignore the data folder
/data/

# Build files and logs
*.spec

# Local data/output files
output_sentence.txt
*.npy
to-do.txt

# Local scripts
run_auto.py