# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc
*.venv

# ----------------------
# Data & Models
# ----------------------
# Raw datasets
data/
kaggle_asl_dataset/
kaggle_asl_dataset_npy/

# Model files & outputs
*.npy
model.p
output_sentence.txt
archive.zip

# ----------------------
# System / Editor Files
# ----------------------
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ----------------------
# Misc / Backup
# ----------------------
*.bak
*.swp
